<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.actionbarsherlock.tests.runner"
	android:versionCode="20"
	android:versionName="3.3.0">
	
    <uses-sdk
	android:minSdkVersion="4"
	android:targetSdkVersion="13" />
    
    <instrumentation
    	android:targetPackage="com.actionbarsherlock.tests.app"
    	android:name="android.test.InstrumentationTestRunner" />
    
    <application
    	android:icon="@drawable/icon"
    	android:label="ABS: Test Runner" >
    	<uses-library android:name="android.test.runner" />
    </application>
</manifest>
