<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.actionbarsherlock.tests.app"
	android:versionCode="45"
	android:versionName="4.0.0-SNAPSHOT">
	
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="14" />

	<application
		android:icon="@drawable/icon"
		android:label="ABS: Test Application"
		android:theme="@style/Theme.Sherlock">
		
		<activity android:name=".FeatureCustomView" />
		<activity android:name=".FeatureEnableActionItemText" />
		<activity android:name=".Issue0002" />
		<activity android:name=".Issue0030" />
		<activity android:name=".Issue0031" />
		<activity android:name=".Issue0033" />
		<activity android:name=".Issue0035" />
		<activity android:name=".Issue0036" />
		<activity android:name=".Issue0038" />
		<activity android:name=".Issue0038$InnerActivity" />
		<activity android:name=".Issue0042" />
		<activity android:name=".Issue0045" />
		<activity android:name=".Issue0048" />
    </application>
</manifest>
