<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="431" android:versionName="4.3.1" package="com.actionbarsherlock.sample.knownbugs">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application android:icon="@drawable/icon" android:label="@string/application_name" android:theme="@style/Theme.Sherlock">

        <activity android:label="@string/activity_name" android:name=".SampleList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- OPEN BUGS -->

        <activity android:label="Issue #240" android:name=".Issue240">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN"/>
            </intent-filter>
        </activity>

        <activity android:label="Issue #272" android:name=".Issue272">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN"/>
            </intent-filter>
        </activity>

        <activity android:label="Issue #331" android:name=".Issue331">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN"/>
            </intent-filter>
        </activity>

        <activity android:label="Issue #738" android:name=".Issue738">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.OPEN"/>
            </intent-filter>
        </activity>

        <!-- CLOSED BUGS -->

        <activity android:label="Issue #379" android:name=".Issue379" android:theme="@style/Theme.Issue379" android:uiOptions="splitActionBarWhenNarrow">
            <!-- Fixed in 4.2.0 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED"/>
            </intent-filter>
        </activity>

        <activity android:label="Issue #425" android:name=".Issue435">
            <!-- Fixed in 4.1.0 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED"/>
            </intent-filter>
        </activity>

        <activity android:label="Issue #659" android:name=".Issue659" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:value=".Issue659"
                       android:resource="@xml/searchable_issue659"/>
        </activity>

        <provider android:name=".Issue659SuggestionsProvider"
                  android:authorities="com.actionbarsherlock.sample.knownbugs.Issue659SuggestionsProvider" />

        <activity android:label="Issue #882" android:name=".Issue882">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.actionbarsherlock.sample.knownbugs.CLOSED"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
