<!DOCTYPE html>

<html>
	<head>
		<title>ActionBarSherlock - {{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="/static/screen.css" media="screen" type="text/css" />
	</head>
	<body>
		<div id="header">
			<p><a href="/">ActionBarSherlock</a><span> by <a href="https://twitter.com/JakeWharton/">Jake Wharton</a></span></p>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/download.html">Download</a></li>
				<li><a href="/usage.html">Usage</a></li>
				<li><a href="/theming.html">Theming</a></li>
				<li><a href="/samples.html">Samples</a></li>
				<li><a href="/development.html">Development</a></li>
				<li><a href="/faq.html">F.A.Q.</a></li>
				<li><a href="/support.html">Support</a></li>
			</ul>
		</nav>
		<article>
			<header>
				<h1>{{ page.title }}</h1>
			</header>
			<div id="content">
{{ content }}
			</div>
		</article>
		<footer>
			<p>GitHub repository located at <a href="https://github.com/JakeWharton/ActionBarSherlock/">https://github.com/JakeWharton/ActionBarSherlock/</a>.</p>
		</footer>
	</body>
</html>
