<!DOCTYPE html>

<html>
	<head>
		<title>ActionBarSherlock - {{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="/static/screen.css" media="screen" type="text/css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/jquery.colorbox-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('blockquote:has(a[href$=".png"] img[src$=".thumb.png"])').each(function(index) {
					$(this).find('a').each(function() {
						$(this).attr('rel', 'sample' + index).colorbox({
							initialWidth: 100,
							initialHeight: 100,
							title: $(this).find('img').attr('alt'),
						});
					});
				});
				$('a[href*=CHANGELOG]').colorbox({
					width: '80%',
					maxWidth: 1030,
					height: '90%',
					iframe: 'true',
				});
			});

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3637749-12']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="header">
			<p><a href="/">ActionBarSherlock</a><span> by <a href="https://twitter.com/JakeWharton/">Jake Wharton</a></span></p>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/download.html">Download</a></li>
				<li><a href="/usage.html">Usage</a></li>
				<li><a href="/theming.html">Theming</a></li>
				<li><a href="/samples.html">Samples</a></li>
				<li><a href="/development.html">Development</a></li>
				<li><a href="/faq.html">F.A.Q.</a></li>
				<li><a href="/support.html">Support</a></li>
			</ul>
		</nav>
		<article>
			<header>
				<h1>{{ page.title }}</h1>
			</header>
			<div id="content">
{{ content }}
			</div>
		</article>
		<footer>
			<p>GitHub repository located at <a href="https://github.com/JakeWharton/ActionBarSherlock/">https://github.com/JakeWharton/ActionBarSherlock/</a>.</p>
		</footer>
	</body>
</html>
